appdirs
apturl
backports.functools-lru-cache
blinker
Brlapi
certifi
chardet
charset-normalizer
click
cmake
colorama
command-not-found
cryptography
cupshelpers
dbus-python
decorator
defer
distro
distro-info
dogpile.cache
duplicity
fasteners
filelock
Flask
future=
googletrans==3.1.0a0
h11
h2
hpack
hstspreload
httpcore
httplib2
httpx
hyperframe
idna
importlib-metadata
indic-transliteration
iso8601
itsdangerous
jeepney
Jinja2
jiwer
jmespath
jsonpatch
jsonpointer
keyring
keystoneauth1
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lit
llvmlite
lockfile
louis
macaroonbakery
Mako
MarkupSafe
monotonic
more-itertools
mpmath
netifaces
networkx
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
olefile
openai-whisper @ git+https://github.com/openai/whisper.git@248b6cb124225dd263bb9bd32d060b6517e067f8
openstacksdk
os-service-types
paramiko
pbr
pexpect
Pillow
protobuf
ptyproces
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
rapidfuzz
regex
reportlab
requests
requestsexceptions
rfc3986
roman
SecretStorage
six
sniffio
ssh-import-id
stevedore
sympy
systemd-python
tiktoken
tk
toml
torch
tqdm
triton
typer
typing_extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
Werkzeug
xdg
xkit
zipp